*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#container{
    height: 600px;
    width: 800px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center
}

.box{
    height: 260px;
    width: 210px;
    background-color: beige;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5px;
    border-radius: 10px;
}

.box img{
    height: 190px;
    width: 150px;
    border-radius: 55%;
    padding: 10px 0px 20px 0px;
}